/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.01.2015, 17:11:45
    Author     : pplexa
*/

.slider-wrapper { 
    width: 80%;
        //width: 653px;
	margin: 5px auto;
}
.headerslog{
    text-align: center;
    color: #4c1313;
    text-shadow:0px 0px 11px #909090;
}